*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary-color: #1f2937;
  --btn-color: #4b5563;
}

/* body{
  background: rgb(96,165,250);
  background: linear-gradient(344deg, rgba(96,165,250,1) 50%, rgba(125,211,252,1) 50%);
} */

.main{
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  align-items: flex-start;
}

.naviMain{
  width: 250px;
  height: 90vh;
}

.route{
  margin: 0 auto;
  
}