.tableData{
    width: 100%;
  }
  
    table {
      border-collapse: collapse;
    }
    td,
    th {
      border: 1px solid black;
      padding: 10px 20px;
      text-align: center;
      width: 200px;
    }
  
  
    .tableBtn{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: .5rem;
    }
  
    .tableBtn > span {
      cursor: pointer;
    }